
<div class="page-width feature-row">
  <div class="feature-row">
    <div class="feature-row__item feature-row__text feature-row__text--right">
        <h3 class="h3">Perfect Fit</h3>
        <div class="rte-setting featured-row__subtext"><p>It is common for bride to gain or loose weight prior to the wedding. To guarantee the perfect fit, we offer $100 CAD alteration credit to all dress purchased.</p></div>
    </div>
    <div class="feature-row__item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zRypMSsHOIs?autoplay=1&loop=1&mute=1&playlist=zRypMSsHOIs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
