<style>
.step_number {
    border-radius: 50%;
    background: #8e24aa none repeat scroll 0;
    width: 46px;
    font-size: 29px;
    display: block;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}

.how_it_works_container {
  background-color: white;
  border-style: solid;
  border-color: #FEFBF9;
  border-width: 10px
}

.h3{
  margin: 0 0 1.5em;
}
</style>

<center style="background-color: #FEFBF9;">
<div class="grid-uniform" style="padding-left:5%; padding-right:5%; padding-bottom:10%; padding-top: 10%" >
        <h3 class="title">You Dream It, We Design It</h3>
        <div class="grid__item one-third small--one-whole how_it_works_container">
          <span class="step_number">1</span>
          <h6>Choose Your Silhouette</h6>
          <p class="how-it-works-text">
            <a href="/collections">Browse our selection</a> of dresses and separates to inspire a design that’s unique to you.
          </p>
        </div>
      
        <div class="grid__item one-third small--one-whole how_it_works_container">
          <span class="step_number">2</span>
          <h6>Fit Your Size</h6>
          <p class="how-it-works-text">
            Text Desprition here.
          </p>
        </div>

        <div class="grid__item one-third small--one-whole how_it_works_container">
          <span class="step_number">3</span>
          <h6>Order</h6>
          <p class="how-it-works-text">
            Text Desprition here.
          </p>
        </div>
</div>
        <a href="/collections" style="color: #ffffff; background-color: #d1b1c8; margin-bottom: 20px; border-bottom: none" class="btn hero__cta center">
                      FIND YOUR DRESS <span class="icon icon-arrow-right" aria-hidden="true"></span>
                    </a>
</center>
