<style>
.step_number {
    border-radius: 50%;
    background: #8e24aa none repeat scroll 0;
    width: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    float: left;
    font-size: 46px;
    font-family: 'Didot';
    color: #ffffff;
    margin-right: 25px;
    margin-top: -12px;
}

.h3{
  margin: 0 0 1.5em;
}
</style>


<center>   
<img class="hero__image hero__image--slideshow-0 fade-in lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0074/8486/6675/files/Paint_Create.jpg?4570444971514608396" 
  alt="" style="width: 100%;">
</center>
          
<div class="index-sections">
  <!-- BEGIN content_for_index --><div id="shopify-section-1536776091439" class="shopify-section" data-theme-editor-section-36672222196="{&quot;id&quot;:&quot;1536776091439&quot;,&quot;type&quot;:&quot;advanced-content&quot;,&quot;disabled&quot;:false}">


</div><div id="shopify-section-1539859990755" class="shopify-section" data-theme-editor-section-36672222196="{&quot;id&quot;:&quot;1539859990755&quot;,&quot;type&quot;:&quot;featured-row&quot;,&quot;disabled&quot;:false}"><div class="wrapper">
  <div class="page-width feature-row">
    

    <div class="feature-row">
      

      <div class="feature-row__item feature-row__text feature-row__text--right">
        
          <h2 class="h3" data-theme-editor-setting="section.1539859990755.title/escape">
            <span class="step_number">1</span>
            Choose
          </h2>
        
        
          <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1539859990755.text"><p>Thinking of a dancing party on your wedding? Or&nbsp;thinking of destination wedding in&nbsp;Hawaii or Mexico? We design our dress to be light and portable.</p></div>
        
        
          <a href="/collections/all" class="btn" data-theme-editor-setting="section.1539859990755.button_label/escape">
            SEE OUR DESIGN
          </a>
        
      </div>

      
        
      <div class="feature-row__item">
        
          <noscript>
            <img src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_600x600.jpg?v=1540233240" alt="" class="feature-row__image-no-js" />
          </noscript>
          <div class="feature-row__image-wrapper" style="padding-top:70.4%;">
            
            <img class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_300x300.jpg?v=1540233240" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="1.4204545454545454" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_360x.jpg?v=1540233240 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_540x.jpg?v=1540233240 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_720x.jpg?v=1540233240 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_900x.jpg?v=1540233240 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_1080x.jpg?v=1540233240 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_1296x.jpg?v=1540233240 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_1512x.jpg?v=1540233240 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_1728x.jpg?v=1540233240 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_1944x.jpg?v=1540233240 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_2048x.jpg?v=1540233240 2048w" sizes="611px" srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_360x.jpg?v=1540233240 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_540x.jpg?v=1540233240 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_720x.jpg?v=1540233240 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_900x.jpg?v=1540233240 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_1080x.jpg?v=1540233240 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_1296x.jpg?v=1540233240 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_1512x.jpg?v=1540233240 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_1728x.jpg?v=1540233240 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_1944x.jpg?v=1540233240 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_step1_8330408c-94e6-43d3-85e0-7abe95184008_2048x.jpg?v=1540233240 2048w">
        </div>
        
      </div>
    
      
    </div>
  </div>
</div>


</div><div id="shopify-section-1539863053248" class="shopify-section" data-theme-editor-section-36672222196="{&quot;id&quot;:&quot;1539863053248&quot;,&quot;type&quot;:&quot;featured-row&quot;,&quot;disabled&quot;:false}"><div class="wrapper">
  <div class="page-width feature-row">
    

    <div class="feature-row">
      
        
      <div class="feature-row__item">
        
          <noscript>
            <img src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_600x600.jpg?v=1540232037" alt="" class="feature-row__image-no-js" />
          </noscript>
          <div class="feature-row__image-wrapper" style="padding-top:88.5%;">
            
            <img class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_300x300.jpg?v=1540232037" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="1.1299435028248588" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_360x.jpg?v=1540232037 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_540x.jpg?v=1540232037 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_720x.jpg?v=1540232037 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_900x.jpg?v=1540232037 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_1080x.jpg?v=1540232037 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_1296x.jpg?v=1540232037 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_1512x.jpg?v=1540232037 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_1728x.jpg?v=1540232037 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_1944x.jpg?v=1540232037 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_2048x.jpg?v=1540232037 2048w" sizes="611px" srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_360x.jpg?v=1540232037 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_540x.jpg?v=1540232037 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_720x.jpg?v=1540232037 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_900x.jpg?v=1540232037 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_1080x.jpg?v=1540232037 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_1296x.jpg?v=1540232037 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_1512x.jpg?v=1540232037 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_1728x.jpg?v=1540232037 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_1944x.jpg?v=1540232037 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/how_it_works_manniquin_95c87170-db44-4412-97f1-a1b613512a36_2048x.jpg?v=1540232037 2048w">
        </div>
        
      </div>
    
      

      <div class="feature-row__item feature-row__text feature-row__text--left">
        
          <h2 class="h3" data-theme-editor-setting="section.1539863053248.title/escape">
            <span class="step_number">2</span>
            Perfect Fit
          </h2>
        
        
          <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1539863053248.text"><p>It is common for bride to gain or loose weight prior to the wedding. To guarantee the perfect fit, we offer $100 CAD alteration credit to all dress purchased.</p></div>
        
        
          <a href="/pages/how-it-work2" class="btn" data-theme-editor-setting="section.1539863053248.button_label/escape">
            HOW IT WOKS
          </a>
        
      </div>

      
    </div>
  </div>
</div>


</div><div id="shopify-section-1540233299638" class="shopify-section" data-theme-editor-section-36672222196="{&quot;id&quot;:&quot;1540233299638&quot;,&quot;type&quot;:&quot;featured-row&quot;,&quot;disabled&quot;:false}"><div class="wrapper">
  <div class="page-width feature-row">
    

    <div class="feature-row">
      

      <div class="feature-row__item feature-row__text feature-row__text--right">
        
          <h2 class="h3" data-theme-editor-setting="section.1540233299638.title/escape">
            <span class="step_number">3</span>
            Image with text
          </h2>
        
        
          <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1540233299638.text"><p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p></div>
        
        
      </div>

      
        
      <div class="feature-row__item">
        
          <noscript>
            <img src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_600x600.jpg?v=1539771340" alt="" class="feature-row__image-no-js" />
          </noscript>
          <div class="feature-row__image-wrapper" style="padding-top:80.16129032258065%;">
            
            <img class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_300x300.jpg?v=1539771340" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="1.2474849094567404" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_360x.jpg?v=1539771340 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_540x.jpg?v=1539771340 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_720x.jpg?v=1539771340 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_900x.jpg?v=1539771340 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_1080x.jpg?v=1539771340 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_1296x.jpg?v=1539771340 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_1512x.jpg?v=1539771340 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_1728x.jpg?v=1539771340 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_1944x.jpg?v=1539771340 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_2048x.jpg?v=1539771340 2048w" sizes="611px" srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_360x.jpg?v=1539771340 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_540x.jpg?v=1539771340 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_720x.jpg?v=1539771340 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_900x.jpg?v=1539771340 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_1080x.jpg?v=1539771340 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_1296x.jpg?v=1539771340 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_1512x.jpg?v=1539771340 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_1728x.jpg?v=1539771340 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_1944x.jpg?v=1539771340 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0837_2048x.jpg?v=1539771340 2048w">
        </div>
        
      </div>
    
      
    </div>
  </div>
</div>


</div><!-- END content_for_index -->
</div>