<style>


</style>


<div class="index-sections">
  <!-- BEGIN content_for_index -->


</div><div id="shopify-section-1539859990755" class="shopify-section" data-theme-editor-section-36676108714="{&quot;id&quot;:&quot;1539859990755&quot;,&quot;type&quot;:&quot;featured-row&quot;,&quot;disabled&quot;:false}"><div class="wrapper">
  <div class="page-width feature-row">
    

    <div class="feature-row">
      
        
      <div class="feature-row__item">
        
          <noscript>
            <img src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0508_600x600.jpg?v=1540393160" alt="" class="feature-row__image-no-js" />
          </noscript>
          <div class="feature-row__image-wrapper" style="padding-top:120%;">
            
            <img class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_300x300.JPG?v=1540395806" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="0.8354166666666667" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_360x.JPG?v=1540395806 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_540x.JPG?v=1540395806 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_720x.JPG?v=1540395806 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_900x.JPG?v=1540395806 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_1080x.JPG?v=1540395806 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_1296x.JPG?v=1540395806 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_1512x.JPG?v=1540395806 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_1728x.JPG?v=1540395806 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_1944x.JPG?v=1540395806 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_2048x.JPG?v=1540395806 2048w" sizes="404px" srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_360x.JPG?v=1540395806 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_540x.JPG?v=1540395806 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_720x.JPG?v=1540395806 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_900x.JPG?v=1540395806 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_1080x.JPG?v=1540395806 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_1296x.JPG?v=1540395806 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_1512x.JPG?v=1540395806 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_1728x.JPG?v=1540395806 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_1944x.JPG?v=1540395806 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/DOGO_2048x.JPG?v=1540395806 2048w">

        </div>
        
      </div>
    
      

      <div class="feature-row__item feature-row__text feature-row__text--left">
        
          <h3 class="h3" style="text-align: left" data-theme-editor-setting="section.1539859990755.title/escape">Who We Are</h3>
        
        
          <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1539859990755.text">
            <p>
              The story began when Fan proposed to Diana. As she tried to dive in the world of wedding planning, her little struggle also began. As a budget bride, she didn’t want to give up quality over her budget to her dream dress. With no ideal dresses available locally, she went online to search for the dress in her mind. As a sentimental piece of purchase, she wanted to find a reliable place to realize her vision. What she experienced was more difficult than she expected. Not all dresses were true to what they were advertised. Finding the perfect dress with craftsmanship and within budget was like looking for needle in haystack. The experience inspired her and her now husband to start this little shop. She wishes to provide brides-to-be quality dresses with reasonable prices.     
            </p>
          </div>
        
      </div>

      
    </div>
  </div>
</div>


</div><div id="shopify-section-1539863053248" class="shopify-section" data-theme-editor-section-36676108714="{&quot;id&quot;:&quot;1539863053248&quot;,&quot;type&quot;:&quot;featured-row&quot;,&quot;disabled&quot;:false}"><div class="wrapper">
  <div class="page-width feature-row">
    

    <div class="feature-row">
      

      <div class="feature-row__item feature-row__text feature-row__text--right">
        
          <h3 class="h3" style="text-align: left" data-theme-editor-setting="section.1539863053248.title/escape">How we do it</h3>
        
        
          <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1539863053248.text"><p>We offer premium quality dress with half of the price from boutique store</p></div>
        
      </div>

      
        
      <div class="feature-row__item">
        
          <noscript>
            <img src="https://cdn.shopify.com/s/files/1/0074/8486/6675/files/how_we_do_it.jpg?3793878563536196257" alt="" class="feature-row__image-no-js" />
          </noscript>
          <div class="feature-row__image-wrapper" style="padding-top:100.0%;">
            
            <img class="feature-row__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0074/8486/6675/files/how_we_do_it.jpg?3793878563536196257">
        </div>
        
      </div>
    
      
    </div>
  </div>
</div>


</div><!-- END content_for_index -->
</div>