<div class="index-sections"></div>
<div class="shopify-section" data-theme-editor-section-36676108714="{&quot;id&quot;:&quot;1539859990755&quot;,&quot;type&quot;:&quot;featured-row&quot;,&quot;disabled&quot;:false}">
<div class="wrapper">
<div class="page-width feature-row">
<div class="feature-row">
<div class="feature-row__item">
<div class="feature-row__image-wrapper" style="padding-top: 100%;"><img class="feature-row__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0074/8486/6675/files/Diana-Fan-LilacBridal.jpg?7508813233872463720" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="0.8354166666666667" data-sizes="auto" /></div>
</div>
<div class="feature-row__item feature-row__text feature-row__text--left">
<h3 class="h3" style="text-align: left;" data-theme-editor-setting="section.1539859990755.title/escape">Who We Are</h3>
<div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1539859990755.text">
<p>The story began when Fan proposed to Diana. As she dove into the world of wedding planning, her little struggle also began.<span style="font-weight: 400;"> As a bride on a budget, she did not want to compromise the quality of her dream dress over her need for the right price.</span> <span style="font-weight: 400;">With no luck finding a dress in her local scene, online shopping became the next ideal stop to shop</span>. As a sentimental piece of purchase, she wanted to find a reliable place to realize her vision. <span style="font-weight: 400;">What came next was an experience more difficult than expected.</span> Not all dresses were true to what they were advertised. Finding the perfect dress with craftsmanship and within budget was searching for the needle in a haystack. The experience inspired her and her now husband to start this little shop. She wishes to provide brides-to-be quality dresses at reasonable prices.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="shopify-section" data-theme-editor-section-36676108714="{&quot;id&quot;:&quot;1539863053248&quot;,&quot;type&quot;:&quot;featured-row&quot;,&quot;disabled&quot;:false}">
<div class="wrapper">
<div class="page-width feature-row">
<div class="feature-row">
<div class="feature-row__item feature-row__text feature-row__text--right">
<h3 class="h3" style="text-align: left;" data-theme-editor-setting="section.1539863053248.title/escape">How we do it</h3>
<div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1539863053248.text">
<p>You may have noticed that our dress prices are much lower than conventional bridal boutiques. How did we do that? By having intimate relationships with our own workshops, and skipping the traditional retail markups, we are able to offer you boutique quality dresses at reasonable prices.</p>
</div>
</div>
<div class="feature-row__item"><img src="https://cdn.shopify.com/s/files/1/0074/8486/6675/files/how_we_do_it.jpg?7396987081078797597" alt="how do we make our dress affordable" class="feature-row__image-no-js" /></div>
</div>
</div>
</div>
</div>