<style type="text/css"><!--
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-uqo3{background-color:#efefef;text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-rr9t{font-weight:bold;background-color:#efefef;border-color:#333333;text-align:center;vertical-align:top}
.tg .tg-aur8{background-color:#efefef;border-color:#333333;text-align:left;vertical-align:top}
--></style>
<table class="tg">
<tbody>
<tr>
<td class="tg-rr9t">Size</td>
<td class="tg-uqo3">2</td>
<td class="tg-uqo3">4</td>
<td class="tg-uqo3">6</td>
<td class="tg-uqo3">8</td>
<td class="tg-uqo3">10</td>
<td class="tg-uqo3">12</td>
<td class="tg-uqo3">14</td>
<td class="tg-uqo3">16</td>
</tr>
<tr>
<td class="tg-aur8">Bust (<span style="font-style: italic;">inch</span>)</td>
<td class="tg-baqh">  32 1/2   </td>
<td class="tg-baqh">  33 1/2  </td>
<td class="tg-baqh">    34 1/2    </td>
<td class="tg-baqh">  35 1/2  </td>
<td class="tg-baqh">   36 1/2   </td>
<td class="tg-baqh">    38    </td>
<td class="tg-baqh">    39 1/2   </td>
<td class="tg-baqh">   41    </td>
</tr>
<tr>
<td class="tg-aur8">Waist (<span style="font-style: italic;">inch</span>)</td>
<td class="tg-baqh">25 1/2</td>
<td class="tg-baqh">26 1/2</td>
<td class="tg-baqh">27 1/2</td>
<td class="tg-baqh">28 1/2</td>
<td class="tg-baqh">29 1/2</td>
<td class="tg-baqh">31</td>
<td class="tg-baqh">32 1/2</td>
<td class="tg-baqh">34</td>
</tr>
<tr>
<td class="tg-aur8">Hips (<span style="font-style: italic;">inch</span>)</td>
<td class="tg-baqh">35 3/4</td>
<td class="tg-baqh">36 3/4</td>
<td class="tg-baqh">37 3/4</td>
<td class="tg-baqh">38 3/4</td>
<td class="tg-baqh">39 3/4</td>
<td class="tg-baqh">  41 1/2  </td>
<td class="tg-baqh">42 1/2</td>
<td class="tg-baqh"> 44 </td>
</tr>
<tr>
<td class="tg-aur8">Hollow to Floor (<span style="font-style: italic;">inch</span>)</td>
<td class="tg-baqh">58</td>
<td class="tg-baqh">58</td>
<td class="tg-baqh">59</td>
<td class="tg-baqh">59</td>
<td class="tg-baqh">60</td>
<td class="tg-baqh">60</td>
<td class="tg-baqh">61</td>
<td class="tg-baqh">61</td>
</tr>
<tr>
<td class="tg-rr9t">Plus Size</td>
<td class="tg-uqo3">14w</td>
<td class="tg-uqo3">16w</td>
<td class="tg-uqo3">18w</td>
<td class="tg-uqo3">20w</td>
<td class="tg-uqo3">22w</td>
<td class="tg-uqo3">24w</td>
<td class="tg-uqo3">26w</td>
<td class="tg-uqo3"></td>
</tr>
<tr>
<td class="tg-aur8">Bust (<span style="font-style: italic;">inch</span>)</td>
<td class="tg-baqh">41</td>
<td class="tg-baqh">43</td>
<td class="tg-baqh">45</td>
<td class="tg-baqh">47</td>
<td class="tg-baqh">49</td>
<td class="tg-baqh">51</td>
<td class="tg-baqh">53</td>
<td class="tg-baqh"></td>
</tr>
<tr>
<td class="tg-aur8">Waist (<span style="font-style: italic;">inch</span>)</td>
<td class="tg-baqh">34</td>
<td class="tg-baqh">36 1/2</td>
<td class="tg-baqh">38 1/2</td>
<td class="tg-baqh">40 3/4</td>
<td class="tg-baqh">43</td>
<td class="tg-baqh">45 1/4</td>
<td class="tg-baqh">47 1/2</td>
<td class="tg-baqh"></td>
</tr>
<tr>
<td class="tg-aur8">Hips (<span style="font-style: italic;">inch</span>)</td>
<td class="tg-baqh">43 1/2</td>
<td class="tg-baqh">45 1/2</td>
<td class="tg-baqh">47 1/2</td>
<td class="tg-baqh">49 1/2</td>
<td class="tg-baqh">51 1/2</td>
<td class="tg-baqh">53 1/2</td>
<td class="tg-baqh">55 1/2</td>
<td class="tg-baqh"></td>
</tr>
<tr>
<td class="tg-aur8">Hollow to Floor (<span style="font-style: italic;">inch</span>)</td>
<td class="tg-baqh">69</td>
<td class="tg-baqh">69</td>
<td class="tg-baqh">69</td>
<td class="tg-baqh">69</td>
<td class="tg-baqh">69</td>
<td class="tg-baqh">69</td>
<td class="tg-baqh">69</td>
<td class="tg-baqh"></td>
</tr>
</tbody>
</table>
<center>
<img src="https://cdn.shopify.com/s/files/1/0074/8486/6675/files/Measurement-Guid-LiacBridal.jpg?10884483789479940539" alt="wedding dress meansurement guid LialcBridal" />
</center>

