<div class="index-sections"></div>
<div class="shopify-section" data-theme-editor-section-36676108714="{&quot;id&quot;:&quot;1539859990755&quot;,&quot;type&quot;:&quot;featured-row&quot;,&quot;disabled&quot;:false}">
<div class="wrapper">
<div class="page-width feature-row">
<div class="feature-row" style="background-color: #fafafa;">
<div class="feature-row__item">
<div class="feature-row__image-wrapper" style="padding-top: 100%;"><img class="feature-row__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0074/8486/6675/files/KW-Appoitment-LilacBridal.jpg?14537864007387403892" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="0.8354166666666667" data-sizes="auto" /></div>
</div>
<div class="feature-row__item feature-row__text feature-row__text--left" style="text-align: center;">
<h3 class="h3" data-theme-editor-setting="section.1539859990755.title/escape">Kichener-Waterloo Showroom</h3>
<div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1539859990755.text">
<div class="description">
<p>245 The Boardwalk #1</p>
<p>Waterloo, Ontario</p>
<p>Tel: (226) 336-1010</p>
<a href="https://app.acuityscheduling.com/schedule.php?owner=16906727" target="_blank" class="acuity-embed-button howitsmade_button btn text-link" style="border-bottom:none">BOOK AN APPOITMENT</a><link rel="stylesheet" href="https://embed.acuityscheduling.com/embed/button/16906727.css" id="acuity-button-styles" /><script src="https://embed.acuityscheduling.com/embed/button/16906727.js" async></script>
<p></p>
<p>Monday to Friday:  9:00am - 7:00pm</p>
<p>Saturday:          9:00am - 4:00pm</p>
<p>Sunday:            Closed</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="shopify-section" data-theme-editor-section-36676108714="{&quot;id&quot;:&quot;1539863053248&quot;,&quot;type&quot;:&quot;featured-row&quot;,&quot;disabled&quot;:false}">
<div class="wrapper">
<div class="page-width feature-row">
<div class="feature-row">
<div class="feature-row__item feature-row__text feature-row__text--right">
<h3 class="h3" style="text-align: left;" data-theme-editor-setting="section.1539863053248.title/escape">About Rosa</h3>
<div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1539863053248.text">
<p>The Best Seamstress in Town - Since 2013, Rosa and her conscientious staff have been offering the latest styles in alterations for men and women as well as children and families. Rosa has been a successful seamstress for over 25 years. She integrates her expertise and passion for sewing in every garment that she customizes. She devotes the time and effort needed to make every garment perfect. For this reason, Rosa is recognized as the best seamstress in town.</p>
</div>
</div>
<div class="feature-row__item"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2897.1547363647574!2d-80.56459008435615!3d43.43648417443499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf75134c250df%3A0x2398c93cb4be6d73!2sRosa&#39;s+Tailoring+%26+Dry+Cleaners!5e0!3m2!1sen!2sca!4v1543266044953" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>
</div>
</div>
</div>