<div class="index-sections">
  <!-- BEGIN content_for_index --><div id="shopify-section-1536776091439" class="shopify-section"><div class="wrapper">
  <div class="custom-content">
  
    
    <div class="custom__item one-whole align--top-middle">
      <div class="custom__item-inner custom__item-inner--html">
        
            
              <div class="rte" data-section-id="1536776091439" data-section-type="featured-content-section">
                <center>
<img src="https://cdn.shopify.com/s/files/1/0074/8486/6675/files/cut.jpg?4236262353848447936" alt="Smiley face">
</center>
              </div>
            
        
      </div>
    </div>
  
  
  </div>
</div>


</div><div id="shopify-section-1539859990755" class="shopify-section"><div class="wrapper">
  <div class="page-width feature-row">
    

    <div class="feature-row">
      

      <div class="feature-row__item feature-row__text feature-row__text--right">
        
          <h2 class="h3">Design</h2>
        
        
          <div class="rte-setting featured-row__subtext"><p>Thinking of a dancing party on your wedding? Or&nbsp;thinking of destination wedding in&nbsp;Hawaii or Mexico? We design our dress to be light and portable.</p></div>
        
        
          <a href="/collections/all" class="btn">
            SEE OUR DESIGN
          </a>
        
      </div>

      
        
      <div class="feature-row__item">
        
          
          <div class="feature-row__image-wrapper" style="padding-top:143.472023%;">
            
            <img class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_300x300.jpg?v=1539862843" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="0.697" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_360x.jpg?v=1539862843 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_540x.jpg?v=1539862843 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_720x.jpg?v=1539862843 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_900x.jpg?v=1539862843 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_1080x.jpg?v=1539862843 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_1296x.jpg?v=1539862843 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_1512x.jpg?v=1539862843 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_1728x.jpg?v=1539862843 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_1944x.jpg?v=1539862843 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_2048x.jpg?v=1539862843 2048w" sizes="537px" srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_360x.jpg?v=1539862843 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_540x.jpg?v=1539862843 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_720x.jpg?v=1539862843 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_900x.jpg?v=1539862843 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_1080x.jpg?v=1539862843 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_1296x.jpg?v=1539862843 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_1512x.jpg?v=1539862843 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_1728x.jpg?v=1539862843 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_1944x.jpg?v=1539862843 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/WechatIMG460_2048x.jpg?v=1539862843 2048w">
        </div>
        
      </div>
    
      
    </div>
  </div>
</div>


</div><div id="shopify-section-1539863053248" class="shopify-section"><div class="wrapper">
  <div class="page-width feature-row">
    

    <div class="feature-row">
      
        
      <div class="feature-row__item">
        
          <noscript>
            <img src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_600x600.jpg?v=1539771335" alt="" class="feature-row__image-no-js" />
          </noscript>
          <div class="feature-row__image-wrapper" style="padding-top:66.71874999999999%;">
            
            <img class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_300x300.jpg?v=1539771335" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="1.4988290398126465" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_360x.jpg?v=1539771335 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_540x.jpg?v=1539771335 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_720x.jpg?v=1539771335 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_900x.jpg?v=1539771335 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_1080x.jpg?v=1539771335 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_1296x.jpg?v=1539771335 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_1512x.jpg?v=1539771335 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_1728x.jpg?v=1539771335 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_1944x.jpg?v=1539771335 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_2048x.jpg?v=1539771335 2048w" sizes="537px" srcset="//cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_360x.jpg?v=1539771335 360w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_540x.jpg?v=1539771335 540w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_720x.jpg?v=1539771335 720w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_900x.jpg?v=1539771335 900w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_1080x.jpg?v=1539771335 1080w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_1296x.jpg?v=1539771335 1296w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_1512x.jpg?v=1539771335 1512w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_1728x.jpg?v=1539771335 1728w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_1944x.jpg?v=1539771335 1944w, //cdn.shopify.com/s/files/1/0074/8486/6675/files/IMG_0321_2048x.jpg?v=1539771335 2048w">
        </div>
        
      </div>
    
      

      <div class="feature-row__item feature-row__text feature-row__text--left">
        
          <h2 class="h3">Perfect Fit</h2>
        
        
          <div class="rte-setting featured-row__subtext"><p>It is common for bride to gain or loose weight prior to the wedding. To guarantee the perfect fit, we offer $100 CAD alteration credit to all dress purchased.</p></div>
        
        
          <a href="/pages/how-it-work2" class="btn">
            HOW IT WOKS
          </a>
        
      </div>

      
    </div>
  </div>
</div>


</div><div id="shopify-section-1539866251788" class="shopify-section"><div class="wrapper">
  <div class="custom-content">
  
    
    <div class="custom__item one-whole align--top-middle">
      <div class="custom__item-inner custom__item-inner--html">
        
            
              <div class="rte" data-section-id="1539866251788" data-section-type="featured-content-section">
                <div class="video-wrapper"><iframe width="1280" height="720" src="https://www.youtube.com/embed/zRypMSsHOIs?autoplay=1&amp;loop=1&amp;mute=1&amp;playlist=zRypMSsHOIs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
              </div>
            
        
      </div>
    </div>
  
  
  </div>
</div>


</div><div id="shopify-section-newsletter" class="shopify-section index-newsletter-section"><div class="newsletter" data-section-id="newsletter" data-section-type="newsletter-section">
  <div class="wrapper">
    
    
    <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
      
      
        <label for="Email" class="newsletter__label hidden-label">Sign up to our mailing list</label>
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter--form">
          <div class="input-group">
            <input type="email" value="" placeholder="Your email" name="contact[email]" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
            <span class="input-group-btn">
              <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                <span class="newsletter__submit-text--large">Subscribe</span>
                <span class="newsletter__submit-text--small">
                  <span class="icon icon-arrow-right" aria-hidden="true"></span>
                </span>
              </button>
            </span>
          </div>
        </div>
      
    </form>
  </div>
</div>


</div><!-- END content_for_index -->
</div>